<% if ( info !="" ) { %>
    <div class="alert alert-info  w-100 text-center" id="info">
        <%= info %>
    </div>
<% } %>

<% if ( error !="" ) { %>
    <div class="alert alert-danger  w-100 text-center">
        <%= error %>
    </div>
<% } %>