<form method="post" id="userForm" action="">
    <div class="row g-3">
        <div class="form-group col-md-6">
            <label for="name">Nom</label>
            <input id="name" class="form-control" type="text" name="name">
        </div>
        <div class="form-group col-md-6">
            <label for="surname">Cognom</label>
            <input id="surname" class="form-control" type="text" name="surname">
        </div>
        <div class="form-group col-md-6">
            <label for="mail">Mail</label>
            <input id="mail" class="form-control" type="text" name="mail">
        </div>
        <div class="form-group col-md-6">
            <label for="DNI">DNI</label>
            <input id="DNI" class="form-control" type="text" name="DNI">
        </div>
        <div class="form-group col-md-6">
            <label for="postal_code">Codi Postal</label>
            <input id="postal_code" class="form-control" type="text" name="postal_code">
        </div>
        <div class="form-group col-md-6">
            <label for="phone">Telefon</label>
            <input id="phone" class="form-control" type="text" name="phone">
        </div>
        <div class="form-group col-md-6">
            <label for="user_type">Tipus d'usuari</label>
            <select id="user_type" class="form-control" name="user_type">
                <option value="1">admin</option>
                <option value="2">editor</option>
                <option value="3">usuari</option>
            </select>
        </div>
    </div>

    <input class="btn btn-primary mt-3" type="submit">

</form>